*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: none;
    outline: none;
    border: none;
}

html,body{
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links{
    display: flex;
    gap: 1em;
}

.links a{

}


.logo {
    width: 70px;
    height: 80px;
    border: 1px solid black;
}
a img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}